<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
       
    </title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="shortcut icon" href="./images/favicon.png" type="image/x-icon">    
    <link rel="stylesheet" href="./stylesheets/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">

</head>

<body>
    <div id="background">
        <nav>
            <h1>Messages</h1>
        </nav>
        <div id="content">
                <button type="button" class="btn btn-info" onclick="goBack()">Back</button>
            <div id="warning">
                 
                <h3>share your username to get more messages !</h3>
            </div>
          <div class="container-fluid">
              <h3 class="lead" > Messages recieved</h3>
            <% if (data.length >0){%>


                <!-- < %  %>  for loops -->
                <% data.forEach(function(e){ %>
                <!-- <%= e.time%>
                <%= e.post%> -->
                <div class="container-fluid showP ">
                    <p class="lead">@
                       
                        <%= e.time %>
                        <%= e.msg%>
                    </p>  
                </div>

                <%}) %>
                <%}%>
            
        </div>
    </div>
    </div>

    
    <script>
       function goBack() {
            window.history.back();
        }
    </script>


</body>

</html>